*{
    text-decoration: none;
       
}

header{
    border: 1px solid #ccc;
    padding: 10px;
    background: #f3f3aa
}

nav{
    padding: 10px;
    border: 1px solid #ccc125;
    background: #f2f2f2;
}

footer{
    background: #ccc;
    /*text-align: center;*/
}

article {
    background: orange;
    padding: 10px;
    margin: 10px 0px;
}

section{
 border: 1px dotted #fff;
}

time{
    color: blue;
}

aside {
    background: #7DDD;
    padding: 5px;
    margin: 10px 0px;
}